<ion-content class="background">
    <!-- <div style="background-color:rgb(26,39,53); height:100%" "> -->
    <div class="ion-padding" style="
    height: 100%;
    background-image: url('assets/img/hunter-haley-s8OO2-t-HmQ-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  " class="ion-text-center ion-padding-top">
        <div style="position: absolute; top: 50%; transform: translateY(-50%); width: 100%;">
            <div class="ion-padding" style="max-width: 400px; margin: auto;">
                <ion-card style="background: rgba(0, 0, 0, 0.4); color: #fff;">
                    <ion-card-header style="border-bottom: solid 1px #666666;">
                        <ion-card-title color="white">
                            <ion-text style="color: #fff;">Registro</ion-text>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <div class="ion-padding">
                            <p>Complete el formulario de registro</p>
                            <ion-list style="background: transparent;">
                                <ion-item>
                                    <ion-input placeholder="Nombre o Razón social *" [(ngModel)]="user.name"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-input placeholder="CUIT/CUIL *" [(ngModel)]="user.document"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-input placeholder="Email *" type="email" [(ngModel)]="user.email"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-input type="password" placeholder="Contraseña *" [(ngModel)]="user.password"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-input type="password" placeholder="Repta la contraseña *" [(ngModel)]="user.passwordRepeat"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-input placeholder="Teléfono" type="number" [(ngModel)]="user.phone"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-input placeholder="Domicilio" [(ngModel)]="user.address"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-input placeholder="Ciudad" [(ngModel)]="user.city"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-input placeholder="Provincia" [(ngModel)]="user.provence"></ion-input>
                                </ion-item>
                            </ion-list>
                            <hr />
                            <ion-button expand="block" color="primary" (click)="register()">Registrarse</ion-button>
                        </div>
                    </ion-card-content>
                </ion-card>
            </div>
        </div>
    </div>
</ion-content>