<!-- <ion-text class="price {{ size }}" color="primary">{{ value | money:'2':',':'.' }}</ion-text> -->
<!-- <div style="margin-top:10px;">
    <ion-text style="font-size: 13px; margin:0; padding:0; color:#666">P.Lista:</ion-text>
    <ion-text color="primary" style="font-size: 1em;font-weight: normal;"> $ {{ value | number : '1.2-2'}}</ion-text>
</div>
<div>
    <ion-text style="font-size: 13px; margin:0; padding:0; color:#666">P.Costo:</ion-text>
    <ion-text color="primary" style="font-size: 1em;font-weight: normal;"> $ {{ value * loginService.user['customerCategory'].discount| number : '1.2-2' }}</ion-text>
</div> -->