ion-scroll[scrollx=true],
ion-scroll[scrolly=true] {
    position: relative;
    overflow: hidden;
}

ion-scroll[scrollx=true] {
    overflow-x: auto;
}

ion-scroll[scrolly=true] {
    overflow-y: auto;
}