<ion-header translucent>
    <ion-toolbar color="primary">
        <ion-title>Carrito de compras</ion-title>
        <ion-buttons slot="end">
            <ion-icon (click)="dismiss()" name="close-outline" size="large">
            </ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <app-empty *ngIf="cartService.list.length == 0" [text]="'El carrito de compras está vacío'"></app-empty>
    <ion-list *ngIf="cartService.list.length > 0">
        <app-product-item [items]="cartService.list" [btnRemove]="true" [amounts]="true" [btnFavorite]="false" [btnLink]="false" [btnAdd]="true" [btnAddIcon]="'create'"></app-product-item>
    </ion-list>
    <div class="ion-padding">
        <div *ngFor="let total of cartService.totals">
            <p class="ion-text-right">
                <ion-text color="primary" style="font-weight: bold; color:#555;">Total sin IVA: {{ total["symbol"] }} {{ total.total | number : '1.2-2' }}</ion-text>
            </p>
            <p class="ion-text-right">
                <ion-text color="primary" style="font-weight: bold; color:#555;">IVA: {{ total["symbol"] }} {{ total.totalVat - total.total | number : '1.2-2' }}</ion-text>
            </p>
            <h2 class="ion-text-right">
                <ion-text color="primary">Total: {{ total["symbol"] }} {{ total.totalVat | number : '1.2-2' }}</ion-text>
            </h2>
        </div>
    </div>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size-xs="6">
                <ion-button *ngIf="loginService.user['isSeller']" (click)="share()" expand="block" color="primary">
                    <ion-icon name="share-social-outline"></ion-icon> Compartir</ion-button>
            </ion-col>
            <ion-col size-xs="6">
                <ion-button (click)="confirmSend()" expand="block" color="success">
                    <ion-icon name="send-outline"></ion-icon> Enviar pedido</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>